# Requirements Verification

Verification in QA means checking documents, design, code, and programs in regard to the requirements to prevent defects. It's done early.

The verification process involves activities like reviews, walk-throughs and inspection. It doesn't execute code or tests.

Verification vs Validation: verification is a more high-level process that doesn't involve executing code. It's more related to software analysis and design. 

**Resources:**
- [Differences Between Verification and Validation](https://www.guru99.com/verification-v-s-validation-in-a-software-testing.html)
- [Design Verification & Validation Process](https://www.guru99.com/design-verification-process.html)
